.idea
.vscode
.env
logs
*.AppImage
__pycache__
*.pyc
**/.idea
**/target
**/*.jar
**/mysql_ssl
**/application.yml
**/application.properties
**/node_modules
**/package-lock.json
**/dist
**/.vscode
**/*.log
**/**.jpg